{
    "env" : {
        "development" : {
            "presets": ["es2015", "stage-0"],
            "plugins": [
                [
                    "transform-react-jsx",
                    {
                        "pragma": "h"
                    }
                ]
            ]
        },
        "build" : {
            "presets": ["es2015", "stage-0"],
            "ignore": [
                "**/_tests_/*.js"
            ],
            "plugins": [
                [
                    "transform-react-jsx",
                    {
                        "pragma": "h"
                    }
                ]
            ]
        }
    }
}
